<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" href="/tabs/inicio">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="entrenamiento" href="/tabs/entrenamiento">
      <ion-icon aria-hidden="true" name="barbell"></ion-icon>
      <ion-label>Entrenamiento</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rutina" href="/tabs/rutina">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Rutina</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calorias" href="/tabs/calorias">
      <ion-icon aria-hidden="true" name="flame"></ion-icon>
      <ion-label>Calorías</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="logros" href="/tabs/logros">
      <ion-icon aria-hidden="true" name="trophy"></ion-icon>
      <ion-label>Logros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
